<div class="container mx-auto my-6 bg-white py-4">
  <div *ngIf="!showAddTask" class="type-add" (click)="presentAddTask()">
    <button class="text-blue-600 border-2 align-middle text-center rounded-sm h-4 w-4 text-xl border-blue-600">
      <svg aria-hidden="true" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path clip-rule="evenodd"
          d="M12 3.75a.75.75 0 01.75.75v6.75h6.75a.75.75 0 010 1.5h-6.75v6.75a.75.75 0 01-1.5 0v-6.75H4.5a.75.75 0 010-1.5h6.75V4.5a.75.75 0 01.75-.75z"
          fill-rule="evenodd"></path>
      </svg>
    </button>
    Type to add new task
  </div>
  <app-add-task *ngIf="showAddTask" (taskEventShow)="setShowAddTask($event)"
    (taskEventData)="addNewTask($event)"></app-add-task>
  <ng-container *ngFor="let task of tasks">
    <app-task *ngIf="!task.edit" [task]="task" (taskEventShowEdit)="task.edit = true"></app-task>
    <app-edit-task *ngIf="task.edit" [task]="task" (taskEventShow)="task.edit = false"></app-edit-task>
  </ng-container>
</div>